/* style.css */
/* Style for the modal */
/* style.css */
/* Style for the modal */
/* Style for the modal */
.modal {
    display: none;
   position: fixed;
    z-index:;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #fefefe;
    position: relative;
    margin: 15% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%; /* Use max-width instead of width to prevent the modal from becoming too wide on large screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: left;
  }
  
  /* Close button style */
  .close {
    color: #aaa;
    position: absolute; /* Position the close button relative to the top right corner of the modal content */
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Close button hover effect */
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }